html {
	font-size: 12px;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Meiryo UI";
	color: black;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.saineji{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.dataset-title {
	color: white;
	margin: 0 1%;
	font-size: 1.8rem;
	height: 20%;
}

.saineji-head-logo{
	width: 28%;
}
.saineji-head-facility{
	color: #4F6228;
	font-size: 1.8rem;
}
.saineji-head-time{
	color: #C0504D;
	font-size: 1.4rem;
	margin-right: 4%;
}

.saineji-body{
	flex: 1;
}
.demand-status,
.power-status,
.power-generation {
	padding: 0 1.5%;
	height: 80%;
}
.item-box > .box-body,
.demand-status-list > .item-box > .box-body,
.power-status > .power-status-left > .item-box > .box-body,
.power-status > .power-status-right > .item-box > .box-body {
	background-color: white;
}
.item-box > .box-body > .box-title,
.demand-status-list > .item-box > .box-body > .box-title,
.power-status > .power-status-left > .item-box > .box-body > .box-title,
.power-status > .power-status-right > .item-box > .box-body > .box-title {
	font-size: 1.6rem;
	text-align: center;
}
.item-box > .box-body > .box-data,
.demand-status-list > .item-box > .box-body > .box-data,
.power-status > .power-status-left > .item-box > .box-body > .box-data,
.power-status > .power-status-right > .item-box > .box-body > .box-data {
	flex: 1;
}
.item-box > .box-body > .box-data > .box-data-value,
.demand-status-list > .item-box > .box-body > .box-data > .box-data-value,
.power-status > .power-status-left > .item-box > .box-body > .box-data > .box-data-value,
.power-status > .power-status-right > .item-box > .box-body > .box-data > .box-data-value {
	width: 60%;
	font-size: 3.4rem;
	text-align: center;
}
.box-data-unit,
.item-box > .box-body > .box-data > .box-data-unit,
.demand-status-list > .item-box > .box-body > .box-data > .box-data-unit,
.power-status > .power-status-left > .item-box > .box-body > .box-data > .box-data-unit,
.power-status > .power-status-right > .item-box > .box-body > .box-data > .box-data-unit {
	width: 20%;
	font-size: 1.4rem;
	text-align: center;
}

.demand-status-gage > #demandStatus {
	background-color: white;
}

.signage-footer{
	color: white;
	font-size: 1.4rem;
	padding: 0 1%;
}

.power-generation {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: 
		'gp ged g-b-rate'
		'gp gem g-b-rate'
	;
}
.generated-power {
	grid-area: gp;
}
.generated-electric-today {
	grid-area: ged;
}
.genrated-electric-month {
	grid-area: gem;
}
.generated-bought-rate {
	grid-area: g-b-rate;
}
.generated-power > .box-body > .box-data > .box-data-value {
	font-size: 6rem;
	width: 100%;
}
.generated-bought-rate > .box-body > .box-data > .box-data-value {
	font-size: 5rem;
	width: 100%;
}