/* title: text size, weight */
.overall-status {
    min-width: 16rem;
    text-align: center;
}

.ventilation-status {
    min-width: 2rem;
    text-align: center;
}

.setting-offcanvas {
    min-width: 40vw;
    max-width: 100vw;
}

.mcfan-container {
    width: 6rem;
}

/* switch button: look */
/* status label */
/* status value */