body{
	margin: 0;
	padding: 0;
}

.content-margin-top{
	margin-top: 2vh;
}

.zeus-panel-header-m{
	padding: 1vw;
}

.zeus-padding-bottom{
	padding-bottom: 10px;
}

.zeus-padding-right{
	padding-right: 10px;
}

.panel-header-error{
	background-color: #EA4335;
}

.list-group-item > table {
	width: 100%;
}

.error {
	color: red;
	font-weight: bold;
}

span.block-span{
	display: inline-block;
	margin-right: 10px;
	padding-top: 3px;
}

span.color-span {
	display: inline-block;
	width: 10px;
	margin-right: 0.5rem;
	border: 1px solid;
}

select.form-control {
	display: inline-block;
	width: auto;
}

.title-overflow{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.flex-sb-ai-center{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.full-centering{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.mt{
	margin-top: 1rem;
}

.mr{
	margin-right: 1rem;
}

td > .form-group {
	margin-bottom: 0;
}

.error-page{
	display: flex;
	flex-flow: column;
	align-items: stretch;
	height: 100vh;
}
.error-page > .error-page-header {
	flex: 0 1 auto;
}
.error-page > .error-page-body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
}

.flex-ai-center{
	display: flex;
	align-items: center;
}

.img-pane{
	position: relative;
}

.img-pane > .drag-box{
	width: 100px;
	height: 100px;
	position: absolute !important;
	left: 0;
	top: 0;
}

.img-pane > .drag-box > .card-header{
	padding: 0;
}

.img-pane > .drag-box > .card-body{
	padding: 0;
}

.img-pane > .plan-img{
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -999;
}